*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

[type=checkbox] {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
}

.btn {
  height: 3rem;
  width: 13rem;
  border: none;
  border-radius: 25px;
  background: linear-gradient(350deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
  font-size: 0.9em;
  font-weight: 700;
  box-shadow: 0 2px 5px gray;
}

.input {
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #353535;
}

.header {
  height: 4rem;
  text-align: center;
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 5px gray;
}
.header__nav {
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(30%);
}
.header__link {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__arrow {
  flex-basis: 10%;
  font-size: 0.7em;
  text-align: left;
}
.header__arrow a {
  padding-left: 20px;
}
.header__logo {
  flex-basis: 80%;
}

.search__bar {
  background-color: #eaeaea;
  padding: 1em 0 1em 3em;
  color: #353535;
  text-align: center;
}
.search__input {
  padding-left: 0.8em;
}
.search__book {
  background-color: #f6f6f6;
  padding: 3em 2em;
  text-align: center;
}
.search__book h1 {
  padding: 0 1em;
}
.search__book p {
  padding: 1em 0 1.5em 0;
  font-size: 1em;
  font-weight: 300;
}

.footer {
  background-color: #353535;
  padding: 1.5rem 1.2rem;
  color: #fff;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  margin-bottom: 1em;
}
.footer__list {
  margin: 0.5em 0;
}
.footer__link {
  color: #fff;
  font-weight: 300;
}
.footer__link i {
  width: 1.7em;
}

.functioning {
  margin: 3em 1em 3em 2em;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.functioning__step {
  background-color: #f6f6f6;
  padding: 1em 0;
  border-radius: 15px;
  box-shadow: 0 2px 5px gray;
}
.functioning__step > span:first-child {
  display: inline-flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #9356DC;
  color: #fff;
  transform: translateX(-10px);
}
.functioning__step i {
  color: gray;
  width: 2.5em;
  text-align: center;
  font-size: 1.2em;
}
.functioning__step span:nth-child(3) {
  display: inline-block;
  font-weight: 700;
}
.functioning__step--hover:hover {
  transition: background-color 400ms;
  background-color: #e4d5f6;
}
.functioning__step--hover:hover > i {
  transition: background-color 400ms;
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 3em 1.1em;
}
.restaurants__title {
  margin-bottom: 1em;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.restaurants__card {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px gray;
}
.restaurants__card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}
.restaurants__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1em;
}
.restaurants__caption i {
  font-size: 2em;
  font-weight: 300;
}

.section {
  position: relative;
}
.section__img {
  width: 100%;
}
.section__caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2rem 1rem;
  bottom: 0;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
}
.section__caption .far {
  font-size: 1.8rem;
}
.section__title {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 300;
}

.menus {
  background-color: #f6f6f6;
  padding: 0 1rem 2rem 1rem;
}
.menus__list > li {
  margin-bottom: 2rem;
}
.menus__type li:first-child {
  position: relative;
}
.menus__type h2 {
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 300;
}
.menus__type h2::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  height: 3px;
  width: 50px;
  bottom: 0;
}
.menus__card {
  background-color: #fff;
  border-radius: 15px;
  margin: 1rem 0;
  height: 4.5rem;
  box-shadow: 0 2px 5px gray;
}
.menus__card label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus__desc {
  padding: 1rem 0.5rem;
}
.menus__price {
  padding-right: 2rem;
}
.menus__checked {
  display: none;
}
.menus__button {
  text-align: center;
  padding-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
