.btn {
    height: 3rem;
    width: 13rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(350deg, $color-primary 0%, $color-secondary 100%);
    color: $color-white;
    font-size: 0.9em;
    font-weight: 700;
    @include header_box-shadow;

    // &:hover {

    // }
}