@keyframes bodyOpacity  {
    0% {
        background-color: rgba($color: white, $alpha: 0.8);
        visibility: visible;
    }
    80% {
        background-color: rgba($color: white, $alpha: 0.8);
    }
    100% {
        background-color: rgba($color: white, $alpha: 0);
        visibility: hidden;
    }
}

@keyframes loadingSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingSpinnerHide {
    0% {
        visibility: visible;
        opacity: initial;
    }
    80% {
        opacity: initial;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
