.loading {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  bottom: 0;
  animation: bodyOpacity 2s ease-out forwards;
  &__spinner {
    display: flex;
    width: 120px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 10;
    animation: loadingSpinnerHide 2s forwards;
    &:after {
      content: "";
      border: 16px solid $color-tertiary;
      border-bottom: 16px solid $color-primary; /* Blue */
      border-top: 16px solid $color-secondary; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: loadingSpinner 1s ease-in-out infinite;
    }
  }
}

.functioning {
  margin: 3em 1em 3em 2em;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__step {
    background-color: $background-color_primary;
    padding: 1em 0;
    border-radius: 15px;
    @include header_box-shadow;
    & > span:first-child {
      display: inline-flex;
      height: 25px;
      width: 25px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background-color: $color-primary;
      color: $color-white;
      transform: translateX(-10px);
    }
    & i {
      color: gray;
      width: 2.5em;
      text-align: center;
      font-size: 1.2em;
    }
    & span:nth-child(3) {
      display: inline-block;
      font-weight: 700;
    }
    &--hover:hover {
      transition: background-color 400ms;
      background-color: lighten($color-primary, 30%);
      & > i {
        transition: background-color 400ms;
        color: $color-primary;
      }
    }
  }
}

.restaurants {
  background-color: $background-color_primary;
  padding: 3em 1.1em;
  &__title {
    margin-bottom: 1em;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
  &__card {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    @include header_box-shadow;
    & img {
      object-fit: cover;
      object-position: 0 60%;
      width: 100%;
      height: 180px;
    }
  }
  &__image {
    position: relative;
    & span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1rem;
      right: 1rem;
      width: 90px;
      height: 30px;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 40%);
      font-weight: 600;
      border-radius: 3px;
      @include header_box-shadow;
    }
  }
  &__caption {
    position: relative;
    padding: 0.6em 1em;
    & i {
      font-size: 2em;
    }
  }
  &__desc {
    display: inline-block;
    max-width: 70%;
    & > * {
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__like {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 15px;
    & > i.far {
      position: absolute;
    }
    & > i.fas {
      display: none;
      position: absolute;
    }
  }
  &__like:hover {
    & > i.fas {
      display: inline;
      background: -webkit-linear-gradient(
        300deg,
        $color-primary 0%,
        $color-secondary 100%
      );
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: fade-in 0.5s ease-out;
    }
    & > i.far {
      animation: fade-out 0.5s ease-out forwards;
    }
  }
}
