.illustration {
  width: 100%;
  margin: -10% 0;
  z-index: -1;
  max-height: 400px;

  &__img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .illustration {
    max-height: 500px;

    &__img {
      max-height: 500px;
    }
  }
}

@media screen and (min-width: 992px) {
  .illustration {
    max-height: 600px;

    &__img {
      max-height: 600px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .illustration {
    max-height: 700px;

    &__img {
      max-height: 700px;
    }
  }
}

@media screen and (min-width: 1900px) {
  .illustration {
    max-height: 800px;

    &__img {
      max-height: 800px;
      object-position: 0 65%;
    }
  }
}

.menus {
  background-color: $background-color_primary;
  padding: 0 1rem 2rem 1rem;
  border-radius: 25px 25px 0 0;
  position: relative;

  &__title {
    display: inline-block;
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-size: 1.8rem;
    font-weight: 300;
    max-width: 80%;
    margin: 1rem 0;
  }

  &__like {
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 50px;

    & i.fas {
      display: none;
      position: absolute;
      font-size: 1.5rem;
    }

    & i.far {
      position: absolute;
      font-size: 1.5rem;
    }
  }

  &__like:hover {
    cursor: pointer;

    & i.far {
      animation: fade-out 0.5s ease-out forwards;
    }

    & i.fas {
      display: inline;
      background: -webkit-linear-gradient(
        300deg,
        $color-primary,
        $color-secondary
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: fade-in 0.5s ease-out;
    }
  }

  &__container {
    @include menus_appear;
  }

  &__article {

    & h2 {
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
    }

    & h2::before {
      content: "";
      position: absolute;
      background-color: $color-tertiary;
      height: 3px;
      width: 50px;
      bottom: 0;
    }
  }

  &__card {
    display: flex;
    align-items: stretch;
    background-color: $color-white;
    border-radius: 15px;
    margin: 1rem 0;
    height: 4.5rem;
    overflow: hidden;
    @include header_box-shadow;
    opacity: 0;

    &:hover {
      cursor: pointer;
    }

    & h3 {
      font-size: 1.1em;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & p {
      font-size: 1rem;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .menus__checked {
      transition: transform 500ms ease-out, flex-basis 500ms ease-out, margin 500ms;
      transform: translateX(50px);
      flex-basis: 1px;
      margin-left: 0;
    }

    &:hover .menus__checked {
      transition: transform 500ms ease-out, flex-basis 500ms ease-out, margin 500ms;
      transform: translateX(0);
      flex-basis: 80px;
      margin-left: 20px;
    }

    &:hover .menus__checked i.fas {
      transition: transform 0.3s 0.2s ease-out;
      transform: rotate(360deg);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    gap: 10px;
    min-width: 0;
    flex-basis: 95%;
  }

  &__price {
    padding-top: 1.6rem;
    padding-left: 0.5rem;
    text-align: right;
    flex-basis: 10%;
  }

  &__checked {
    display: block;
    text-align: center;
    flex-basis: 1px;
    transform: translateX(50px);
    background-color: $color-tertiary;
    min-height: 100%;

    & i {
      margin-top: 1.5rem;
      color: white;
      font-size: 1.5rem;
    }
  }

  &__button {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 1252px) {
  .menus {

    &__container {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    
    &__article {
      flex-basis: 30%;
      flex-grow: 1;
    }
  }
}