.article {
  position: relative;
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -60px;
  }
  &__caption {
    position: absolute;
    gap: 20px;
    padding: 2rem 1rem;
    bottom: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: $background-color_primary;
    & .fa-heart {
      font-size: 1.8rem;
    }
  }
  &__title {
    display: inline-block;
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-size: 1.8rem;
    font-weight: 300;
    max-width: 80%;
  }
  &__like {
    display: inline-block;
    position: absolute;
    bottom: 66px;
    right: 50px;
    & i.fas {
      display: none;
      position: absolute;
    }
    & i.far {
      position: absolute;
    }
  }
  &__like:hover {
    cursor: pointer;
    & i.far {
      animation: fade-out 0.5s ease-out forwards;
    }
    & i.fas {
      display: inline;
      background: -webkit-linear-gradient(
        300deg,
        $color-primary,
        $color-secondary
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: fade-in 0.5s ease-out;
    }
  }
}

@media screen and (min-width: 768px) {
  .article {
    &__img {
      max-height: 500px;
    }
  }
}

@media screen and (min-width: 992px) {
  .article {
    &__img {
      max-height: 600px;
      object-position: 0 65%;
    }
  }
}

.menus {
  background-color: $background-color_primary;
  padding: 0 1rem 2rem 1rem;
  &__list {
    $k: 0;
    @for $i from 1 through 3 {
      @for $j from 1 through 5 {
        $k: $k + 0.2;
        > li:nth-child(#{$i}) .menus__card:nth-child(#{$j}) {
          animation: translate_menu 1s ease-in-out ($k+s) forwards;
        }
      }
    }
  }
  &__type {
    & li:first-child {
      position: relative;
    }
    & h2 {
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 300;
    }
    & h2::before {
      content: "";
      position: absolute;
      background-color: $color-tertiary;
      height: 3px;
      width: 50px;
      bottom: 0;
    }
  }
  &__card {
    background-color: $color-white;
    border-radius: 15px;
    margin: 1rem 0;
    height: 4.5rem;
    overflow: hidden;
    @include header_box-shadow;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: stretch;
    }
    & h3 {
      font-size: 1.1em;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & .menus__checked {
      transition: transform 500ms ease-out, flex-basis 500ms ease-out;
      transform: translateX(50px);
      flex-basis: 1%;
    }
    &:hover .menus__checked {
      transition: transform 500ms ease-out, flex-basis 500ms ease-out;
      transform: translateX(0);
      flex-basis: 80px;
    }
    &:hover .menus__checked i.fas {
      transition: transform 0.3s 0.2s ease-out;
      transform: rotate(360deg);
    }
  }
  &__desc {
    padding: 1rem 0.5rem;
    min-width: 0;
    flex-basis: 80%;
  }
  &__price {
    padding-right: 1rem;
    padding-top: 1.6rem;
    text-align: right;
    flex-basis: 20%;
  }
  &__checked {
    display: block;
    width: 8%;
    text-align: center;
    flex-basis: 1%;
    transform: translateX(50px);
    background-color: $color-tertiary;
    min-height: 100%;
    & i {
      margin-top: 1.2rem;
      color: white;
      font-size: 2rem;
    }
  }
  &__button {
    text-align: center;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1252px) {
  .menus {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      & li:nth-child(1n+1) {
        flex-basis: 25%;
        flex-grow: 1;
      }
      & li:last-child {
        flex-basis: 100%;
      }
    }
    &__type {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-wrap: wrap;
      & li:first-child {
        flex-basis: 100%;
      }
    }
    &__card {
      flex-basis: 30%;
      flex-grow: 1;
      margin: 0;
    }
  }
}