$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #000;
$color-white: #fff;
$color-input: #353535;

$background-color_input: #eaeaea;
$background-color_primary: #f6f6f6;

$header-height: 4rem;

$font-base-height: 16px;