.footer {
    background-color: #353535;
    padding: 1.5rem 1.2rem;
    color: $color-white;
    &__title {
        font-family: "Shrikhand", cursive;
        font-weight: 300;
        margin-bottom: 1em;
    }
    &__list {
        margin: 0.5em 0;
    }
    &__link  {
        color: $color-white;
        font-weight: 300;
        & i {
            width: 1.7em;
        }
    }
}