.search {
  &__bar {
    background-color: $background-color_input;
    padding: 1em 0 1em 3em;
    color: $color-input;
    text-align: center;
  }
  &__input {
    padding-left: 0.8em;
    height: 1.5rem;
    &:focus {
      transition: outline 100ms;
      outline: 2px solid $color-primary;
    }
  }
  &__book {
    background-color: $background-color_primary;
    padding: 3em 2em;
    text-align: center;
    & h1 {
        padding: 0 1em;
    }
    & p {
        padding: 1em 0 1.5em 0;
        font-size: 1em;
        font-weight: 300;
    }
  }
}
