.header {
  height: $header-height;
  text-align: center;
  z-index: 1;
  position: relative;
  @include header_box-shadow;
  &__nav {
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(30%);
  }
  &__link {
      font-family: "Shrikhand", cursive;
      font-size: 2em;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__arrow {
    flex-basis: 10%;
    font-size: 0.7em;
    text-align: left;
    & a {
      padding-left: 20px;
    }
  }
  &__logo {
    flex-basis: 80%;
  }

}
